
/* iphone */
@media screen and (min-width: 0px) and (max-width: 768px) {
    .wrapper1{
        display: grid;
        
        margin: 0px;
        grid-template-rows: 15% 1fr 1fr 8%;
        grid-template-columns: 1fr 10%;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        'header header'
        'main main'
        'aside aside'
        'footer footer';

        grid-template-rows: 15% 1fr 1fr 15%;
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);

    }
    /* gemensamt alla sidor */

.header{
    grid-area: header;
    display: flex;
    background: #252524;
    justify-content: center;
    align-items: center;
    position: relative;

}

.footer{
    grid-area: footer;
    padding: 5px;
    background: #252524;
    color: white;
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}


.menu{
    height: 100vh;
    width: 80vw;
    background: #252524;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
    position: absolute;
    right: 20px;
    
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.menu_icon{
   
    height: 80px;
    width: 80px;
}

.h1{
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 50px;
    
}


/* sida 1, startsida */

.main{
    grid-area: main;
    background: rgba(0,0,0,0.75);
    padding: 30px;
    
}

.aside{
    grid-area: aside;
    background: rgba(0,0,0,0.75);
    
    padding-top: 5px;
    padding-left: 30px;
    
}

.innre_box_main{
 width: 650px;
 height: 300px;
 background: rgba(0,0,0,0.75);
 border-radius: 30px;
 color: white;
 padding: 20px;
 font-size: 15px;
 display: flex;
 flex-direction: column;
}

.innre_box_aside{
    width: 300px;
    height: 200px;
    background: rgba(0,0,0,0.75);
    border-radius: 30px;
    color: white;
    padding: 20px;
}

    /* sida 2, huvudrätter */

    .wrapper2{
        display: grid;
        
        margin: 0px;
        grid-template-rows: 15% 1fr 1fr 1fr 8%;
        grid-template-columns: 50% 50%;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        'header header'
        'div1 div2'
        'div3 div4'
        'div5 div6'
        'footer footer';

        
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);

    }

    .div_main1{
        grid-area: div1;

    }

    .div2_main{
        grid-area: div2;

    }

    .div_main3{
        grid-area: div3;

    }
    
    .div_main4{
        grid-area: div4;

    }

    .div_main5{
        grid-area: div5;

    }

    .div_main6{
        grid-area: div6;

    }

    /* sida 3, dessert */

    .wrapper3{
        display: grid;
        
        margin: 0px;
        grid-template-rows: 15% 1fr 1fr 1fr 8%;
        grid-template-columns: 100%;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        'header'
        'div7'
        'div8'
        'div9'
        'footer';

        
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);

    }

    .div_desert1{
        grid-area: div7;
    }

    .div_desert2{
        grid-area: div8;
    }

    .div_desert3{
        grid-area: div9;
    }


    /* sida 4, drinkar */

    .wrapper4{
        display: grid;
        
        margin: 0px;
        grid-template-rows: 15% 1fr 1fr 8%;
        grid-template-columns: 50% 50%;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        'header header'
        'div10 div11'
        'div12 div13'
        'footer footer';

        grid-template-rows: 15% 1fr 1fr 15%;
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);

    }

    .div_drinks1{
        grid-area: div10;
    }

    .div_drinks2{
        grid-area: div11;
    }

    .div_drinks3{
        grid-area: div12;
    }

    .div_drinks4{
        grid-area: div13;
    }

}


/* desktop */
@media screen and (min-width:769px){
    .wrapper1{
        display: grid;
        margin: 0px;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 15% 1fr 8%;
        grid-template-columns: 70% 20% 10%;
        
        
        grid-template-areas: 
        "header header header"
        "main aside aside"
        "footer footer footer";
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);
    }

    /* gemensamt alla sidor */

.header{
    grid-area: header;
    display: flex;
    background: #252524;
    justify-content: center;
    align-items: center;
    position: relative;

}

.footer{
    grid-area: footer;
    padding: 5px;
    background: #252524;
    color: white;
    display: flex;
    justify-content: space-around;
    text-decoration: underline;
}


.menu{
    height: 100vh;
    width: 80vw;
    background: #252524;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
    position: absolute;
    right: 20px;
    
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.menu_icon{
   
    height: 130px;
    width: 130px;
}

.h1{
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100px;
    
}

/* sida 1, startsida */

.main{
    grid-area: main;
    background: rgba(0,0,0,0.75);
    padding: 70px;
    
}

.aside{
    grid-area: aside;
    background: rgba(0,0,0,0.75);
    
    padding-top: 70px;
    padding-left: 30px;
}

.innre_box_main{
 width: 1000px;
 height: 550px;
 background: rgba(0,0,0,0.75);
 border-radius: 30px;
 color: white;
 padding: 20px;
 font-size: 25px;
 display: flex;
 flex-direction: column;
}

.innre_box_aside{
    width: 400px;
    height: 550px;
    background: rgba(0,0,0,0.75);
    border-radius: 30px;
    color: white;
    padding: 20px;
}


}
