
/* iphone */
@media screen and (min-width: 0px) and (max-width: 768px) {
    .wrapper{
        display: grid;
        
        margin: 0px;
        grid-template-rows: 15% 1fr 1fr 8%;
        grid-template-columns: 1fr 10%;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
        'header nav'
        'main main'
        'aside aside'
        'footer footer';

        grid-template-rows: 15% 1fr 1fr 15%;
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);

    }
}

/* desktop */
@media screen and (min-width:769px){
    .wrapper{
        display: grid;
        margin: 0px;
        width: 100vw;
        height: 100vh;
        grid-template-rows: 15% 1fr 8%;
        grid-template-columns: 70% 20% 10%;
        
        
        grid-template-areas: 
        "header header nav"
        "main aside aside"
        "footer footer footer";
        background-image: url(https://images8.alphacoders.com/923/thumb-1920-923533.jpg);
        
    }
    

}

.nav{
    grid-area: nav;
    background: #252524;
    
}

.header{
    grid-area: header;
    display: flex;
    background: #252524;
    justify-content: center;
    align-items: center;
    

}

.main{
    grid-area: main;
    background: rgba(0,0,0,0.75);
    padding: 5px;
    
}

.aside{
    grid-area: aside;
    background: rgba(0,0,0,0.75);
    
    padding: 5px;
}

.footer{
    grid-area: footer;
    padding: 5px;
    background: #252524;
}


.menu{
    height: 100vh;
    width: 80vw;
    background: #252524;
    position: fixed;
    top: 0;
    left: -90vw;
    transition: left 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

.menu_icon{
   
    height: 130px;
    width: 130px;
}

.h1{
    font-family: "Almendra", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 100px;
    
}